.pro-title
  {
    font-size: 32px;
    font-weight: 700;
    color: linear-gradient(90deg, rgba(181,91,230,1) 34%, rgba(5,192,222,1) 100%);;
    text-align: center;
  }
.project-pic {
    width: 75%;
    height: 70%;
  }
  .projects{
    padding: 60px;
    color: #fff;
    background: #333;
  }
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }
  
  .project-container p {
    padding: 0.4rem;
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-card {
    background-color: #855fdf;
    border-radius: 15px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

  
  /* Media queries for responsiveness */
  @media screen and (max-width: 720px) {
    .projects-container {
      flex-direction: column;
    }
  
    .project-container {
      width: 20.875rem;
    }
  }
  
  @media screen and (max-width: 420px) {
    .project-container {
      width: 17.875rem;
    }
  }
  
  .projects .title::before {
    background: #fffdfd;
    margin-top: auto;
  }
  
  .project-card:hover {
    background: #93b9ea;
  }
  